SESSION_SECRET=
PUBLIC_STORE_DOMAIN=
PUBLIC_STOREFRONT_ID=
PUBLIC_STOREFRONT_API_TOKEN=
PRIVATE_STOREFRONT_API_TOKEN=
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=
PUBLIC_CUSTOMER_ACCOUNT_API_URL=
PUBLIC_MARKETING_ORIGIN=https://vievegan.com.au
PUBLIC_BITELY_URL=https://app.bitely.com.au/order/vievegan/IPfk2NI9XbSgEOHmR0Gz
